.header {
    background-color: green;
    display: flex;
    justify-content: space-between;

    padding: 5px;
    max-height: 40px;
}

#header-link-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 5px;
}

.header-link {
    color: white;
    text-decoration: underline;
}

#header-button-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 5px;
}

