.header {
    background-color: green;
    display: flex;
    justify-content: space-between;

    padding: 5px;
    height: 40px;
    min-height: 40px;

    /* position: sticky;
    top: 0; */
}

#header-link-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 5px;
}

.header-link {
    color: white;
    text-decoration: underline;
}

#header-button-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 5px;
}

.sidebar {
    position: absolute;
    top: 40px;
    left: 0px;

    width: 100px;
    padding: 5px 10px;
    /* background-color: rgba(0, 128, 0, 0.75); */
    background-color: green;
    min-height: 300px;
    border-bottom-right-radius: 10px;

    display: flex;
    flex-direction: column;
}

.sidebar > a {
    color: white;
    font-weight: bold;
    font-size: small;
}

.sidebar > a:hover {
    font-weight: 900;
}

#account-links {
    position: absolute;
    top: 40px;
    left: 100%;
    transform: translate(-100%);
    border-bottom-left-radius: 10px;

    padding: 5px 15px;
    background-color: green;
    color: white;

    display: flex;
    flex-direction: column;
    width: 150px;
}

#account-links > a {
    color: white;
    font-weight: bold;
    font-size: 12px;
}

#account-links > a:hover {
    font-weight: 900;
}

