.admin-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 15px;
}

.admin-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-section-data {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}